main {
    text-align: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 150%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

h1 {
    font-family: 'Inria Serif', serif;
}

h2 {
    padding: 1%;
    margin: 1%;
    border: 1px;
    text-align: left;
}

p {
    margin: 2%;
    padding-bottom: 2%;
    text-align: center;
}

form {
    text-align: left;
    width: 100%;
    margin: 0;
}

input {
    margin: 2%;
    margin-left: 5%;
}

button { 
    cursor:pointer; 
}

.container {
    background-color: rgba(22, 22, 22, 0.94);
    margin: 0;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 15px;
    width: 50%;
    height: 70%;
}

.top-div {
    background-color: lightblue;
    color: black;
    padding: 2%;
    border-radius: 13px 13px 0 0;
    border: 1px solid white;
    text-shadow: 1px 1px white;
}

.start-restart-button {
    font-size: 25px;
    width: 300px;
    height: 55px;
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 10px;
    color: black;
}

.placement {
    display: inline;
    margin-left: 25px;
}

.submit-next-button {
    display: block;
    font-size: 18px;
    font-weight: 500;
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 2%;
    width: 50%;
    height: 10%;
    left: -50%;
    right: -50%;
}

.question-div, .correct-incorrect, .results {
    display: none;
}

#home{
    padding: 1%;
    margin-top: 10%;
    font-size: 150%;
}

#final-score {
    padding: 2%;
    margin-top: 15%;
    font-size: 150%;
    text-shadow: 1px 1px grey;
}

#answer-selections {
    text-align: center;
    display: inline-block;
    font-size: 80%;
    width: 100%;
}

#choice-response {
    font-size: 110%;
    padding: 2%;
    margin: 2%;
}

#intro {
    text-align: center;
}

#question-line {
    font-size: 100%;
    padding: 2%;
    margin: 3%;
}

#next-button {
    align-content: center;
}

#correct-statement {
    text-align: left;
    padding: 2%;
    margin: 2%;
    line-height: 160%;
}

/* slideshow css */

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    text-align: center;
}

.slides {
    width: 100%;
    height: 100%;
}

.slides > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
    transition: transform 1500ms ease-out;
    transition: transform 1500ms ease-in;
  }

  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  } 

/* media sizes */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    max-width: 600px;
    height: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

    .submit-next-button {
        position: absolute;
        bottom: 2%;
        width: 50%;
        height: 10%;
        left: -50%;
        right: -50%;
    }

    .top-div .scorecard::before {
        content: "\A";
        white-space: pre;
    }

    #final-score {
        margin-top: 18%;
    }

    #restart-button, #start{
        width: 80%;
    }

    #home {
        margin-top: 35%;
        font-size: 110%;
    }

    #correct-statement {
        line-height: 140%;
        font-size: 80%;
    }
    /* center beginning and results div horizontally */
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .container {
        height: 50%;
        width: 60%;
        font-size: 130%;
    }

    #home {
        margin-top: 20%;
    }

    #home > h1 {
        font-size: 150%;
    }

    #start {
        margin-top: 10%;
    }
}