main {
    text-align: center;
}

#start-restart-button {
    font-size: 25px;
    width: 300px;
    height: 55px;
    margin-bottom: 20px;
    background-color: lightblue;
}

#placement-score {
    display: inline;
    margin-left: 25px;
}

#submit-next-button {
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: lightblue;
}

#good-job{
    color: rgb(14, 143, 185);
}

#answer-selections {
    text-align: center;
    display: inline-block;
}

.footer {
    height: 80px;
}



/* styling for image slideshow*/

#theDots {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }